{% extends "base_generic.html" %}

{% block content %}
  <h1>Author List</h1>
  {% if author_list %}
    <ul>
      {% for author in author_list %}
      <li><a href="{{ author.get_absolute_url }}">{{ author.first_name }} {{author.last_name}}</a>
        {% if author.date_of_birth %}
        (Born in {{ author.date_of_birth }})
        {% else %}
        (Date of birth unknown)
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no authors in the library.</p>
  {% endif %}
{% endblock %}
